# Ignore node_modules directory
node_modules/

#Ignore log files
*.log

#Ignore compiled files 	
*.class

#Ignore temporary files
*.tmp

#Ignore specific file
secrets.txt

#Ignore all files in a directory
build/

#Ignore all .DS_Store files
.DS_Store
